@import "../../../../scss/main.scss";
.modalChooseClosed {
  display: none;
}
.modalChooseOpened {
  display: block;
  position: absolute;
  z-index: 2;
  right: 0px;
  bottom: -130px;
  background-color: $WHITE;
  width: 80px;
  height: 115px;
  padding: 5px 10px 20px 10px;
  @include flex-col(center, center);
  h3 {
    @include text(15px, 700, $BLACK);
    line-height: 20px;
    font-family: Inter;
  }
  div {
    border: 1px solid $GOLD;
    width: 40px;
    margin-bottom: 15px;
  }
  p {
    @include text(15px, 400, $BLACK);
    font-family: Inter;
    line-height: 20px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  p:last-child {
    margin-bottom: 0px;
  }
}
