@import "../../../scss/main.scss";
.title {
  @include flex-col(center, center);
  margin-bottom: 40px;
  & h2 {
    color: $LIGHTBLACK;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  & div {
    border: 1px solid $LIGHTBLACK;

    width: 50px;
  }
}
