@import "../../../../scss/main.scss";
.modalLogInWrapClose {
  display: none;
}
.modalLogInWrap {
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 70px;
}
.regandlogform {
  display: block;
  background-color: $WHITE;
  @include flex-col(center, center);
  position: absolute;
  z-index: 2;

  padding: 20px 25px 20px 25px;
  h3 {
    @include text(20px, 400, $BLACK);
    font-family: Forum;
    line-height: 20px;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
  }
  img {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }
  &__form {
    .validFirstName:valid {
      border: 1px solid green;
    }
    .invalidFirstName:invalid:focus {
      outline: 0;
      border: 1px solid red;
    }
    @include flex-col(start, start);
    label {
      @include text(15px, 400, $BLACK);
      letter-spacing: 0.3px;
      line-height: 20px;
      font-family: Inter;
      margin-bottom: 10px;
    }

    input {
      border: 1px solid $GOLD;
      width: 200px;
      height: 20px;
      margin-bottom: 10px;
    }
    p {
      @include text(10px, 400, $BLACK);
      font-family: Inter;
      a {
        margin-left: 10px;
        @include text(10px, 700, $BLACK);
        letter-spacing: 1px;
        font-family: Inter;
      }
    }
  }
}
