@import "../../scss/main.scss";
.coffeShop {
  @include pX;
  @include flex-col(center, center);

  &__description {
    @include text(20px, 400, $BLACK);
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: Inter;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
  }
  &__priceFood {
    width: 100%;
    @include flex-row(space-between, center);
  }
  .leftPrice {
    &__foodTitle {
      @include text(40px, 400, $GOLD);
      letter-spacing: 2px;
      font-family: Forum;
      margin-bottom: 40px;
    }
  }
  .rightPrice {
    &__foodTitle {
      @include text(40px, 400, $GOLD);
      letter-spacing: 2px;
      font-family: Forum;
      margin-bottom: 40px;
      text-align: end;
    }
  }
  .listFood {
    list-style: none;
    &__oneLeft {
      @include flex-row(flex-start, center);
      text-align: start;
    }
    &__oneRight {
      @include flex-row(flex-end, center);
      text-align: end;
    }
    &__oneFood {
      margin-bottom: 40px;
      p {
        @include text(20px, 400, $BLACK);
        font-family: Inter;
        letter-spacing: 2px;
        text-transform: capitalize;

        width: 220px;
      }
      p:last-child {
        width: 45px;
      }

      div {
        border: 1px solid $GOLD;
        width: 100px;
        margin: 0px 60px 0px 60px;
      }
    }
  }
}
